<div class="nav-group">
    <%= link_to "Recipes", new_recipe_path, class: "btn" %>
   
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class:"btn" %>
    <%# <h1>Welcome to our recipe app</h1> %>
</div>