<h1>Foods</h1>

<div id="foods">
  <%= link_to "Add food", new_food_path, class: "add-food", id: "add-food-button" %>
  
  <table class="food-table">
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <%= render food %>
      <% end %>
    </tbody>
  </table>
</div>
