<div class="container w-50">
  <div class="column is-two-fifths-desktop">
		<h3 class="title is-4 text-center pb-3">Edit Ingredient</h3>
		<div class="card">
      <div class="card-body">
        <%= render 'form', recipe_food: @recipe_food %>
      </div>
		</div>
	</div>
</div>