<div>
  <h1>New Ingredient</h1>
  <%= form_with model: @recipe_food, url: recipe_foods_path, local: true, html: { "data-turbo": "false" } do |form| %>
    <div>
      <div>
        <%= form.number_field :quantity, placeholder: "Quantity", class: "form-input" %>
      </div>
      <% if @available_food.present? %>
  <%= form.select :food_id,
                  options_from_collection_for_select(@available_food, "id", "name"),
                  { prompt: "Select food" },
                  { class: "form-input" } %>
<% else %>
  <p>No available food options.</p>
<% end %>
      <%= form.submit "Submit" %>
    </div>
  <% end %>
</div>